/* CSS reset */

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans KR", sans-serif;
}

a {
  text-decoration: none;
}

button {
  outline: none;
  border: none;
  background: transparent;
}

section {
  padding-top: 50px;
}

.title {
  margin-bottom: 24px;
  color: #2b7df8;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}

/* 헤더 부분 */

.header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  padding: 8px 16px;
  background-color: #2b7df8;
  text-align: center;
}

.header__logo {
  color: #fff;
  font-size: 24px;
}

.header__item {
  color: #fff;
  font-size: 20px;
  margin-right: 12px;
}

.header--hidden {
  display: none;
}

.header__toggle {
  color: #fff;
  font-size: 20px;
}

/* 맨 초기 페이지 관련 */

.introduction {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100vh;
  font-size: 24px;
  color: #fff;
}
.introduction h1 {
  position: absolute;
  top: 50%;
  text-shadow: 6px 2px 4px gray;
  transform: translateY(-50%);
}

.introduction span {
  position: absolute;
  bottom: 35%;
  text-shadow: 6px 2px 4px gray;
}

.introduction__circle {
  position: relative;
  z-index: -1;
  width: 300px;
  height: 300px;
  margin: 0 auto;
  background-color: #2b7df8;
  border-radius: 50%;
  overflow: hidden;
}

.wave {
  position: absolute;
  top: 70%;
  left: -6%;
  width: 350px;
  height: 350px;
  background: rgb(143, 204, 196);
  background: linear-gradient(
    90deg,
    rgba(143, 204, 196, 1) 0%,
    rgba(107, 207, 192, 1) 12%,
    rgba(0, 212, 255, 1) 100%
  );
  border-radius: 42%;
  animation: drift 8s infinite linear;
}

@keyframes drift {
  100% {
    transform: rotate(-360deg);
  }
}

/* ABOUT */
.main {
  width: 100%;
}
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 16px 8px;
  margin: 0 auto 60px;
  max-width: 800px;
}

.about__profile {
  width: 200px;
  height: 200px;
  margin-bottom: 24px;
  border-radius: 50%;
}

.about__sub-title {
  margin-bottom: 16px;
  font-size: 18px;
  font-weight: 400;
  color: #2b7df8;
}

.about__description {
  font-size: 16px;
}

.about__description > span {
  font-weight: 700;
}

/*  SKILL  */

.skill {
  margin-bottom: 60px;
}

.skill__card {
  margin: 16px;
  padding: 12px 16px;
  border: 2px solid #2b7df8;
  border-radius: 16px;
  text-align: center;
}

.skill__card i {
  font-size: 60px;
  margin-bottom: 12px;
}

.skill__card .fa-html5 {
  color: #ec6231;
}

.skill__card .fa-css3-alt {
  color: #0067a3;
}

.skill__card .fa-js-square {
  color: #ffd400;
}

.skill__sub-title {
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 400;
}

/* favorite */

.favorite {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.favorite__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 300px;
  margin-bottom: 24px;
}

.favorite img {
  display: block;
  width: 260px;
  height: 260px;
  border-radius: 16px;
  margin-bottom: 16px;
}

.favorite__sub-title {
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 400;
}

/* contact */

.divider {
  width: 90%;
  height: 1px;
  margin: 0 auto;
  background-color: #2b7df8;
}

.contact {
  text-align: right;
}

.contact__links {
  padding: 0 16px;
}

.contact__links a {
  color: #2b7df8;
  font-size: 24px;
}

.contact__copyright {
  margin-right: 16px;
  color: #a0a0a0;
  font-size: 12px;
}

.contact__copyright span {
  color: #2b7df8;
  font-weight: 700;
}

/* 반응형 웹을 위한 mediaquery (데스크톱) */

@media screen and (min-width: 768px) {
  .title {
    font-size: 40px;
  }

  /* home */
  .introduction h1 {
    font-size: 100px;
  }

  .introduction span {
    bottom: 20%;
    font-size: 80px;
  }

  .introduction__circle {
    width: 500px;
    height: 500px;
  }

  .wave {
    left: -25%;
    width: 800px;
    height: 800px;
  }

  /* ABOUT  */

  .about {
    margin-bottom: 100px;
  }

  .about__title {
    margin-bottom: 60px;
  }

  .about__profile {
    width: 300px;
    height: 300px;
    margin-bottom: 40px;
  }

  .about__sub-title {
    margin-bottom: 32px;
    font-size: 28px;
  }

  .about__description {
    font-size: 20px;
  }

  /* skill */
  .skill__title {
    margin-bottom: 60px;
  }
  .skill__skills {
    display: flex;
  }

  .skill__card {
    width: 33%;
  }

  /* favorite */
  .favorite__contents {
    display: flex;
    flex-direction: row;
  }

  .favorite__card {
    width: 33%;
  }

  .favorite img {
    width: 80%;
  }

  .favorite__description {
    width: 80%;
  }

  /* footer */
  .contact__links {
    width: 95%;
    padding: 0;
  }

  .contact__links a {
    font-size: 50px;
  }

  .contact__copyright {
    margin-right: 5%;
    font-size: 20px;
  }
}
